@page "/settings/gadget/delete/{GadgetId:guid}"
@using sp.iot.core

@inject NavigationManager NavigationManager
@inject SettingsClient SettingsClient

<DeleteItemComponent 
    IsLoaded = "@pageBusinessInitalized"
    IsItemFound = "@isItemFound"
    ItemTypeName = "Gadget"
    BaseReturnUrl = "@($"settings/gadget/list/{Item?.Parent}")"
    OnDelete = "@OnDelete">

    <div class="form-group row">
        <label for="label" class="col-sm-2 col-form-label">Section:</label>
        <div>
            <input type="text" readonly class="form-control-plaintext" id="label" value="@Item?.Name">
        </div>
    </div>

</DeleteItemComponent>

@code {


    [Parameter]
    public Guid GadgetId { get; set; }
    private bool pageBusinessInitalized = false;
    private bool isItemFound = false;
    private Gadget Item = null;
    
    protected override async Task OnParametersSetAsync()
    {
        var settings = await SettingsClient.GetAsync();
        Item = settings.FindGadget(GadgetId);

        isItemFound = (Item != null);
        pageBusinessInitalized = true;
    }

    private List<SaveResponseAction> actionItems { get; set; }

    private async Task<List<SaveResponseAction>> OnDelete(MouseEventArgs args)
    {
        var result = await SettingsClient.DeleteGadgetAsync(GadgetId);
        List<SaveResponseAction> actionItems = result.Actions;
        return actionItems;
    }

}