@page "/settings/section/delete/{RegionId:guid}/{SectionId:guid}"
@using sp.iot.core

@inject NavigationManager NavigationManager
@inject SettingsClient SettingsClient

<DeleteItemComponent 
    IsLoaded = "@pageBusinessInitalized"
    IsItemFound = "@isItemFound"
    ItemTypeName = "Section"
    BaseReturnUrl = "@($"settings/section/list/{RegionId}")"
    OnDelete = "@OnDelete">

    <div class="form-group row">
        <label for="label" class="col-sm-2 col-form-label">Section:</label>
        <div>
            <input type="text" readonly class="form-control-plaintext" id="label" value="@sectionItem?.Name">
        </div>
    </div>

</DeleteItemComponent>

@code {


    [Parameter]
    public Guid RegionId { get; set; }

    [Parameter]
    public Guid SectionId { get; set; }


    private bool pageBusinessInitalized = false;
    private bool isItemFound = false;
    private Section sectionItem = null;

    
    protected override async Task OnParametersSetAsync()
    {
        var settings = await SettingsClient.GetAsync();
        var region = settings.Regions.First(item => item.Id == RegionId);
        sectionItem = region.Sections.FirstOrDefault(item => item.Id == SectionId);

        isItemFound = (sectionItem != null);
        pageBusinessInitalized = true;
    }

    private List<SaveResponseAction> actionItems { get; set; }

    private async Task<List<SaveResponseAction>> OnDelete(MouseEventArgs args)
    {
        var result = await SettingsClient.DeleteSectionAsync(SectionId);
        List<SaveResponseAction> actionItems = result.Actions;
        return actionItems;
    }

}