
@using sp.iot.core


@if (Items != null)
{
<div>

    <span class="text-nowrap">
        Save Response Detail
    </span>

     <table  class="table table-sm">
        <thead>
            <tr>
                <th>Aciklama</th>
                <th>Zaman</th>
            </tr>
        </thead>
        <tbody>
        @if (Items == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var item in Items)
            {
                <tr>
                    <td>@item.Action</td>
                    <td>@item.TimeStamp</td>
                </tr>
            }
        }
        </tbody>
    </table>

</div>
}
@code {
    [Parameter]
    public bool Display { get; set; }

    [Parameter]
    public List<SaveResponseAction> Items { get; set; }

}
